* {
  font-family: 'Montserrat', sans-serif;
}
/* ESTILOS HEADER */
.header-title {
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
}
.header-subtitle {
  text-align: center;
}
.header-basket {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}
.back-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 60px;
  cursor: pointer;
}
.icon {
  width: 100%;
}
.number {
  background: red;
  text-align: center;
  width: 16px;
  border-radius: 50%;
  font-size: 10px;
  border: solid black 1px;
  padding: 2px;
  position: absolute;
  bottom: 32px;
  right: -3px;
}
/* ESTILOS PARA LA LISTA DE LA COMPRA */
.list {
  margin-left: 25%;
  margin-top: 55px;
  width: 700px;
}
.list-item {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.product-name {
  margin-top: 4%;
}
.product-price {
  margin-top: 5%;
}
.product-quantity {
  margin-top: 5%;
}
.img-container {
  width: 85px;
  height: auto;
}
.img {
  width: 100%;
}
.btns-container {
  margin-top: 4%;
}
