* {
  font-family: 'Montserrat', sans-serif;
}
/* ESTILOS DEL HEADER */
.header-title {
  font-size: 3.12rem;
  text-align: center;
  margin-top: 2.5rem;
}
.header-subtitle {
  text-align: center;
}
.header-basket {
  width: 3.12rem;
  height: 3.12rem;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
}
.number {
  display: none;
  text-align: center;
  width: 1rem;
  border-radius: 50%;
  font-size: 0.62rem;
  border: solid black 0.06rem;
  padding: 0.12rem;
  position: absolute;
  bottom: 2rem;
  right: -0.18rem;
  font-weight: bold;
  background-color: white;
}
.carousel-inner {
  height: 70vh;
  width: 100%;
  background: no-repeat center;
}
/* ESTILOS DE LA SECCIÓN DE PRODUCTOS (LISTADO) */
.main {
  display: flex;
}
.main-title {
  margin-top: 1rem;
}
.ourProducts {
  width: 75%;
}
.vegetables-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  align-items: center;
  justify-items: center;
}
.vegetables-item {
  padding: 0.31rem;
  margin-top: 0.31rem;
  width: 11.87rem;
  height: 11.25rem;
  align-content: center;
  cursor: pointer;
}
.vegetables-item:hover {
  border: solid black 0.06rem;
  border-radius: 0.31rem;
}
.image-content {
  width: 8.75rem;
}
.vegetables-img {
  width: 10rem;
  height: 7.5rem;
}
.vegetables-name {
  font-size: 0.87rem;
  margin-top: 0.62rem;
}
.vegetables-title {
  font-size: 1.5rem;
  margin: 1.25rem;
}
.vegetables-price {
  font-size: 0.75rem;
}
/* ESTILOS DE LA VENTANA MODAL */
.modal-content {
  width: 80%;
  margin-top: 12.5rem;
}
.modal-title {
  font-size: 1.5rem;
}
.modal-body {
  align-self: center;
}
.modal-img {
  height: 12.5rem;
  width: auto;
}
.modal-description {
  margin-left: 0.31rem;
}
.modal-footer {
  justify-content: flex-start;
}
.cart-icon {
  width: 0.75rem;
}
/* ESTILOS CARRITO DE LA COMPRA */
.cart {
  width: 25%;
  margin-right: 2.5rem;
  overflow: visible;
  padding-bottom: 5.62rem;
}
.cart-header {
  display: flex;
}
.cart-title {
  margin: 1.25rem;
}
.icon {
  width: 2.5rem;
}
.btn-cart {
  height: 1.25rem;
  width: 0.93rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.06rem;
}
.trash-icon {
  width: 1.25rem;
  cursor: pointer;
}
.price-text {
  display: flex;
  justify-content: space-around;
}
.cart-total {
  font-weight: bolder;
}
.total-line {
  text-align: right;
}
/* ESTILOS DEL DRAG AND DROP */
.cart-drag-drop {
  margin: 1.25rem;
}
.drop-section {
  height: 7.37rem;
  border: dashed red 0.06rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.drop-img-content {
  border: dashed rgb(165, 161, 161) 0.06rem;
  padding: 0.31rem;
}
.drop-img-content:hover {
  border-color: black;
}
.fas {
  font-size: 44px;
  color: rgb(165, 161, 161);
}
.fas:hover {
  color: black;
}
/* MEDIA QUERY */
@media (max-width: 1070px) {
  .vegetables-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .carrousel {
    height: 40vh;
  }
}
@media (max-width: 950px) {
  .main {
    flex-direction: column;
  }
  .cart {
    align-self: center;
    width: 50%;
  }
  .carousel-inner {
    height: 40vh;
  }
}
@media (max-width: 600px) {
  .header-title {
    font-size: 2.43rem;
  }
  .carousel-inner {
    margin-left: 15%;
  }
}
/* Estilo genéricos */
.show {
  display: block;
}
